<p id="notice"><%= notice %></p>

<p>
  <strong>Matchid:</strong>
  <%= @match.matchID %>
</p>

<p>
  <strong>Players:</strong>
  <%= @match.players %>
</p>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
